<div class="petition">
    <h1>You may edit your profile here!</h1>
<form method="POST">
    <input name="firstname" type="text" placeholder="first name" value={{#profile}}{{firstname}}{{/profile}}></input>
    <input name="lastname" type="text" placeholder="last name" value={{#profile}}{{lastname}}{{/profile}}></input>
    <input name="email" type="email" placeholder="email"value={{#profile}}{{email}}{{/profile}}></input>
    <input name="password" type="password" placeholder="password"></input>
    <input name="age" type="text" placeholder="Age" value={{#profile}}{{age}}{{/profile}}></input>
    <input name="city" type="text" placeholder="City" value={{#profile}}{{city}}{{/profile}}></input>
    <input name="url" type="url" placeholder="Homepage" value={{#profile}}{{url}}{{/profile}}></input>
    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
<button>UPDATE</button>
</form>
</div>

<!-- <form method="post" action="/profile/delete">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Click here to delete your profile</button>
</form> -->

<!-- <img src="/pizza2.jpg" alt="pizza"> -->
