<!-- <img id="pizza3" src="/pizza3.jpg" alt="pizza"> -->
<div id="signers">
    <a id="logout" href="logout">logout</a>
    <h1>List of signers</h1>
    <h3>WE want PIZZA FREE every Friday all over the city!</h3>
    <a id="return" href="/thanks">Return to your signature page</a>
<br>
{{#each signers}}
<!-- for part4 do something similar to this: -->
    {{#if url}}
    <h3><a href={{url}}>{{firstname}} {{lastname}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></h3>
    {{else}}
    <h3>{{firstname}} {{lastname}} {{age}} <a href="/signers/{{city}}">{{city}}</a></h3>
    {{/if}}
{{/each}}

{{#if link}}
    <a href="/signers">Click to see the list of signers.</a>
{{/if}}
</div>

<img id="pizza3" src="/pizza3.jpg" alt="pizza">
