<div class="petition">
    <h1>List of signers</h1>
    <h3>WE want PIZZA FREE every Friday all over the city!</h3>

{{#each signers}}
<!-- for part4 do something similar to this: -->
    {{#if url}}
    <p><a href={{url}}>{{firstname}} {{lastname}}</a> {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
    {{else}}
    <p>{{firstname}} {{lastname}} {{age}} <a href="/signers/{{city}}">{{city}}</a></p>
    {{/if}}
{{/each}}

{{#if link}}
    <a href="/signers">Click to see the list of signers.</a>
{{/if}}
</div>

<!-- <img src="/pizza2.jpg" alt="pizza"> -->
